@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: px;
}

img {
    width: 100vw;
    height: 100vh;
}

a {
    background-color: darkred;
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    margin: -5px 0px 0px 0px;
    text-decoration: none;
}

a:hover {
    background-color: red;
}